.fixed-card {
    width: 100%;
    max-width: 18rem; /* Limitar el ancho máximo */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(135deg, #3c02dd83, #ffbb45) !important; /* Fondo con gradiente */
    transition: transform 0.5s ease; /* Transición suave */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
}

.fixed-card:hover {
    transform: scale(1.06); /* Aumento al pasar el mouse */
}

.fixed-img {
    width: auto;
    height: 100px;
    max-width: 80%;
    object-fit: contain;
    border-radius: 10px; /* Bordes redondeados para la imagen */
}

.fixed-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.btn {
    background: linear-gradient(135deg, #3c02dd83, #ffbb45); /* Gradiente para el botón */
    color: #fff;
    border-radius: 20px;
    padding: 10px 20px; /* Espaciado adecuado */
    border: none; /* Sin borde */
    transition: background-color 0.2s ease-in-out, transform 0.2s ease; /* Transición suave */
}

.btn:hover {
    background-color: #e64a19; /* Color al pasar el mouse */
    transform: scale(1.05); /* Aumento al pasar el mouse */
}

